# Default ignored files
/shelf/
/workspace.xml

/.idea


/RenPyTest1/nicetest/log.txt
/RenPyTest1/nicetest/traceback.txt

/RenPyTest1/nicetest/game/cache/
/RenPyTest1/nicetest/game/saves/
/RenPyTest1/nicetest/game/tl/

/RenPyTest1/nicetest/game/log.txt
/RenPyTest1/nicetest/game/traceback.txt
